<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-img/logo-precomposed" href="/logo.png">
    <link rel="apple-touch-img/logo" href="/logo.png">
    <link rel="apple-touch-img/logo" sizes="72x72" href="/logo.png">
    <link rel="apple-touch-img/logo" sizes="114x114" href="/logo.png">

    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/logo.png" rel="shortcut icon">
    <script data-ad-client="ca-pub-0381616672957148" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo">
      <img src="/logo.png">
    </a>

    <ul class="nav">
      <div class="nav-inner">
      <!--
        <li><a href="/"><span class="icon doc"></span>blog</a></li>
        <li><a href="/about"><span class="icon info"></span>about</a></li>
        <li><a href="/projects"><span class="icon code"></span>projects</a></li>
        <li><a href="http://spamthe.net"><span class="icon link"></span>links</a></li>
      -->
        <li><a href="https://maswag.github.io/blog/"><span class="icon Blog"></span>Blog</a></li>
        <li><a href="http://github.com/MasWag"><span class="icon github"></span>GitHub</a></li>
        <li><a href="http://twitter.com/MasWag"><span class="icon twitter"></span>Twitter</a></li>
        <li><a href="http://group-mmm.org/~mwaga/"><span class="icon link"></span>Research</a></li>
        <li><a href="/"><span class="icon link"></span>English</a></li>
        <li><a href="/ja"><span class="icon link"></span>日本語</a></li>
      </div>
    </ul>
  </div>
  <div class="wrapper">
    {{ content }}
  </div>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-63159402-1', 'auto');
ga('send', 'pageview');

</script>
</body>
</html>
